@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    /* colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #aaa;

    --bg-white: var(--color-white);
    --bg-gray: var(--color-gray);
    
    --default-text-color: var(--color-black);
    --text-color-gray: var(--color-gray);

    /* font sizes */
    --large-font-size: 4rem;
    --header-medium-font-size: 2rem;
    --header-small-font-size: 1.8rem;

    --body-text: 1.2rem;
    --notes: 0.8rem;

    --letter-space: 1.2px;
}

body {
    width: 100%;
    height: 100dvh;

    font-family: sans-serif;
    color: var(--default-text-color);
    background-color: var(--bg-white);
}

/* defining fonts for headings and text body */
h1, h2 {
    font-family: 'Ubuntu';
}
p, li {
    font-family: "Work Sans";
    word-spacing: -1.1px;
    letter-spacing: 1.2px;
    line-height: 1.6;
    font-size: var(--body-text);
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color:var(--bg-gray)
}
.logo {
    font-weight: 800;
    text-transform: uppercase;
    font-size: var(--notes);
}

main {
    width: 80%;
    height: 100%;
    margin: auto;

}

.banner {
    width: 100%;
    height: 500px;  
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article {
    width: 100%;
    height: fit-content;

    margin-top: 2rem;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    word-spacing: 2px;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}

.author-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.author-details p {
    letter-spacing: 1.2px;
    font-size: 1.2rem;
    color: var(--text-color-gray);
}

.content {
    width: min(850px, 100%);
    margin: auto;
    /* background-color: green; */
}

article section {
    width: 100%;
    height: fit-content;
    padding: 1rem 0;
}

h2 {
    font-size: var(--header-medium-font-size);
    letter-spacing: var(--letter-space);
    margin-bottom: 1rem;
}

.introduction p {
    word-spacing: 1.1px;
    word-break: keep-all;
    word-wrap: break-word;
    /* font-size: 1.3rem; */
    font-size: var(--body-text);
}

ol, ul {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.8;
}

li span {
    font-weight: 600;
    letter-spacing: 1.2px;
    /* word-spacing: 2px; */
}





